* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html {
    height: 100%;
    background: url(images/books-background-3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-size: 16px;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

button {
    cursor: pointer;
    border: 1px solid gray;
}

.search,
.my-books,
.new-releases,
.search-results,
.my-profile,
.new-releases-full {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.dashboard .search,
.my-books,
.new-releases,
.search-results,
.my-profile,
.new-releases-full {
    /*    background-color: rgba(139, 132, 103, 0.6);*/
    /*    background-color: rgba(95, 158, 160, 0.3);*/
    /*    background-color: rgba(245, 247, 246, 0.7);*/
    /*    background-color: rgba(214, 201, 194, 0.8);*/
    background-color: rgba(247, 240, 222, 0.8);
}

nav {
    background-color: cadetblue;
    padding: 15px;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 100;
}

nav h3 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.2rem;
}

nav h3,
div {
    display: inline-block;
}

.nav-buttons {
    float: right;
    border: none;
}

nav button {
    padding: 5px;
    /*    border: 1px solid #24292e;*/
}

header {
    width: 100%;
    margin: 0 auto;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgba(245, 247, 246, 0.2);
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 4rem;
    /*    font-weight: normal;*/
    color: black;
}

h2 {
    font-size: 1.8rem;
}

header p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard .search {
    background-color: rgba(247, 240, 222, 0.8);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.placeholder {
    color: rgba(214, 201, 194, 0);
}

form {
    /*    width: 100%;*/
    display: inline-block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    /*    padding-left: 40%;*/
}

label {
    font-weight: bold;
}

input,
button {
    margin-top: 5px;
}

input {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    /*    margin-top: 5px;*/
    /*    margin-right: 3px;*/
    /*    width: 40%;*/
}

.search button,
.search-results button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    float: right;
}

h4 {
    font-size: 1.25rem;
    padding-bottom: 10px;
    text-decoration: underline;
}

.my-books {
    float: right;
}

.book-entry {
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.book-title {
    font-family: 'Faustina', serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 2px;
}

.author {
    font-weight: bold;
    margin-bottom: 4px;
}

.book-blurb {
    font-size: .8rem;
}

.add,
.remove {
    display: block;
    font-size: .9rem;
    font-family: 'Faustina', serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid gray;
}

.see-more {
    cursor: pointer;
    text-decoration: underline;
}

.search-results {
    margin-top: 50px;
}

.results .book-entry {
    display: block;
}

.book-blurb {
    display: block;
}

.results .book-entry img {
    vertical-align: text-top;
}

.book-info {
    display: inline-block;
    vertical-align: text-top;
    padding-top: 2px;
    padding-left: 5px;
}

.book-info button {
    float: left;
}

.my-profile {
    margin-top: 30px;
}

.my-profile form {
    margin-bottom: 40px;
}

.my-profile button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.my-profile .series {
    display: block;
}

.series-author,
.series-name {
    display: inline-block;
}

.my-profile .series-name {
    font-family: 'Faustina', serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.new-releases-full .book-entry {
    border: 1px solid black;
}
