* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html {
    /*
    background: url(images/background-image-2.jpeg) no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
    background-color: dimgray;
}

body {
    font-size: 16px;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
    border: 1px solid gray;
}

.search,
.my-books,
.new-releases,
.search-results,
.my-profile,
.new-releases-full {
    padding: 20px;
    margin-top: 20px;
}

.dashboard .search,
.my-books,
.new-releases,
.search-results,
.my-profile,
.new-releases-full {
    /*    background-color: rgba(247, 240, 222, 0.8);*/
}

.dashboard {
    margin: 0;
}

.search-results {
    background-color: gray;
    margin: 0;
}

.my-profile {
    background-color: dimgray;
    margin: 0;
}

.new-releases-full {
    background-color: darkgray;
    margin: 0;
}

nav {
    background-color: rgb(101, 145, 118);
    padding: 15px;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 100;
}

nav h3 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.2rem;
}

nav h3,
div {
    display: inline-block;
}

nav div {
    float: right;
    font-size: 0;
}

nav a {
    font-size: .9rem;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid black;
    margin-left: none;
    margin-right: none;
}

nav a:last-of-type {
    border: none;
}

header {
    /*
    height: 100%;
    width: 100%;
*/
    background: url(images/background-image-2.jpeg) no-repeat;
    /*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
*/
    background-size: cover;
    margin: 0 auto;
    padding-top: 20%;
    padding-bottom: 30%;
    /*
    padding-left: 15%;
    padding-right: 15%;
*/
    /*    background-color: rgba(245, 247, 246, 0.2);*/
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 4rem;
    /*    font-weight: normal;*/
    /*    color: cadetblue;*/
}

h2 {
    font-size: 1.8rem;
}

header p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.login-box {
    /*    background-color: white;*/
    background-color: rgba(181, 153, 124, 0.8);
    /*    float: right;*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-box fieldset {
    font-weight: bold;
}

.login-box form label {
    display: block;
    margin-top: 10px;
    width: 90%;
}

.login-box input {
    margin-top: -20px;
    display: block;
    width: 90%;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 200px;
}

.dashboard section {
   border: 1px solid black;
}

.dashboard .search {
    /*    background-color: rgba(247, 240, 222, 0.8);*/
    padding: 20px;
    margin-top: 20px;
}

.dashboard .new-releases {
    margin-left: 1%;
}

.dashboard .my-books {
margin-right: 1%;
}

.my-books .col-4 {
    width: 33.33%;
}

.placeholder {
    color: rgba(214, 201, 194, 0);
}

.search form {
    /*    width: 100%;*/
    display: inline-block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    /*    padding-left: 40%;*/
}

label {
    font-weight: bold;
}

input,
button {
    margin-top: 5px;
}

input {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    /*    margin-top: 5px;*/
    /*    margin-right: 3px;*/
    /*    width: 40%;*/
}

.search button,
.search-results button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    float: right;
}

h4 {
    font-size: 1.25rem;
    padding-bottom: 10px;
    text-decoration: underline;
}

.my-books {
    float: right;
}

.book-entry {
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.book-title {
    font-family: 'Faustina', serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 2px;
}

.author {
/*    font-weight: bold;*/
    margin-bottom: 4px;
}

.book-blurb {
    font-size: .8rem;
}

.add,
.remove {
    display: block;
    font-size: .9rem;
    font-family: 'Faustina', serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid gray;
}

.see-more {
    cursor: pointer;
    text-decoration: underline;
}

.search-results {
    margin-top: 50px;
}

.results .book-entry {
    display: block;
}

.book-blurb {
    display: block;
}

.results .book-entry img {
    vertical-align: text-top;
    display: inline-block;
    width: 15%;
}

.book-info {
    display: inline-block;
    vertical-align: text-top;
    padding-top: 2px;
    padding-left: 5px;
    width: 85%;
    float: right;
}

.book-info button {
    float: left;
}

.my-profile form {
    margin-bottom: 40px;
}

.my-profile button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.my-profile .series {
    display: block;
}

.series-author,
.series-name {
    display: inline-block;
}

.my-profile .series-name {
    font-family: 'Faustina', serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.image-background {
    background-color: gray;
    width: 100%;
}

.image-background img {
    margin: 10px auto;
    width: 50%;
    display: block;
}

.new-releases-full .book-entry {
    height: 400px;
    overflow-y: scroll;
}

footer {
    text-align: center;
    position: relative;
    clear: both;
    width: 100%;
    background-color: cadetblue;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer li {
    display: inline;
    font-size: .85rem;
}
