* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html {
    /*
    background: url(images/background-image-2.jpeg) no-repeat center center fixed;
    height: 100%;
*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #202020;
}

body {
    font-size: 16px;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
    border: 1px solid gray;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.search,
.my-books,
.new-releases,
.search-results,
.my-profile,
.new-releases-full {
    padding: 20px;
    /*    margin-top: 20px;*/
}

.dashboard {
    margin: 0;
}

.search-results {
    background-color: #282828;
    margin: 0;
}

.my-profile {
    background-color: #202020;
    margin: 0;
}

.new-releases-full {
    background-color: #282828;
    margin: 0;
}

nav {
    /*    background-color: rgb(101, 145, 118);*/
    background-color: #3e273c;
    padding: 15px;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 100;
    color: #9f939e;
}

nav h3 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

nav h3,
div {
    display: inline-block;
}

nav div {
    float: right;
    font-size: 0;
}

nav a {
    text-decoration: none;
    font-size: .9rem;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 0;
    margin-right: 0;
    color: #BBB78A;
    border-right: 2px solid #BBB78A;
    font-weight: bold;
    /*
    color: #678055;
    background-color: #203A0F;
    border: 3px solid #202020;
*/
}

nav a:hover {
    color: #678055;
    /*color: #203A0F;*/
}

nav a:last-of-type {
    border: none;
}

.header {
    height: 600px;
    background: url(images/books-background-blur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(245, 247, 246, 0.2);
    padding-top: 20%;
    padding-bottom: 30%;
    color: #3E273C;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 4rem;
    /*    font-weight: normal;*/
    /*    color: cadetblue;*/
    color: #7F5E7C;
    text-shadow: 2px 2px #3E273C;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    /*    text-shadow: 2px 2px black;*/
}

header p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    /*    text-shadow: 2px 2px black;*/
}

.title {
    /*    background-color: rgba(245, 247, 246, 0.3);*/
    background-color: #BBB78A;
    padding: 20px;
}

.login-box,
.signup-box {
    /*    background-color: white;*/
    background-color: #BBB78A;
    /*    float: right;*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-box fieldset,
.signup-box fieldset {
    font-weight: bold;
    color: #2C0B29;
}

.login-box form label,
.signup-box form label {
    display: block;
    margin-top: 10px;
    width: 90%;
    color: #2C0B29;
}

.login-box input,
.signup-box input {
    margin-top: -20px;
    display: block;
    width: 90%;
}

.header form button {
    display: block;
    width: 90%;
    background-color: #203A0F;
    color: #8CA57A;
}

.login-box button {
    margin-top: 20px;
}

.header form p,
.header form a {
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    font-size: .85rem;
}

#confirm-password {
    margin-bottom: 15px;
}

.dashboard {
    padding-top: 50px;
}

.dashboard .search {
    /*    background-color: rgba(247, 240, 222, 0.8);*/
    padding: 20px;
    margin-top: 20px;
    color: #BBB78A;
}

.dashboard form {
    /*    background-color: #2e2e2e;*/
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
}

.dashboard input,
.search input,
.my-profile input {
    margin-top: 5px;
}

.search button {
    margin-top: 5px;
}

.dashboard .new-releases {
    margin-left: 1%;
    border-right: 2px dotted #7F5E7C;
}

.assign-series {
    background-color: #918D61;
}

.book-entry button:hover {
    background-color: #BBB78A;
}

.dashboard .my-books {
    margin-right: 1%;
}

.my-books .col-4 {
    width: 33.33%;
}

.placeholder {
    color: rgba(214, 201, 194, 0);
}

.search-results form {
    /*    background-color: #2e2e2e;*/
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
}

.search label {
    font-weight: bold;
    color: #BBB78A;
}

input {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    /*    margin-top: 5px;*/
    /*    margin-right: 3px;*/
    /*    width: 40%;*/
}

.search button,
.search-results button {
    float: right;
}

#search-results-placeholder {
    padding-top: 20%;
    padding-bottom: 20%;
}

h4 {
    font-size: 1.25rem;
    padding-bottom: 10px;
    /*    text-decoration: underline;*/
    color: #BBB78A;
}

.my-books {
    float: right;
}

.book-entry {
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 25px;
    margin-top: 20px;
    height: 240px;
}

.book-title {
    font-family: 'Faustina', serif;
    font-size: 1.1rem;
    font-weight: bold;
    /*    margin-top: 4px;*/
    margin-bottom: 2px;
    color: #918D61;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*
.book-title:hover {
    text-overflow: inherit;
    overflow: visible;
    white-space: normal;
    max-width: 400%;
    width: 400%;
    z-index: 1;
}
*/

.author {
    /*    font-weight: bold;*/
    margin-bottom: 4px;
    color: #918D61;
    font-size: .9rem;
}

.more {
    font-size: .78rem;
    margin-bottom: .5rem;
    color: #634260;
    font-weight: bold;
}

.more:hover,
.see-more:hover {
    color: #7F5E7C;
    cursor: pointer;
}

.book-blurb {
    font-size: .8rem;
    color: #7e9090;
}

.add,
.remove {
    display: block;
    font-size: .9rem;
    font-family: 'Faustina', serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    margin-top: 2px;
}

.see-more {
    text-decoration: underline;
    color: #634260;
}

.search-results {
    margin-top: 50px;
}

.results .book-entry {
    display: block;
    overflow-y: auto;
}

.results .book-entry::-webkit-scrollbar {
    background-color: #0f0f0f;
    width: 5px;
    /*    width: 30px;*/
}

.results .book-entry::-webkit-scrollbar-thumb {
    background-color: #9f939e;
    border-radius: 7px;
}


.book-blurb {
    display: block;
}

.results .book-entry img {
    vertical-align: text-top;
    display: inline-block;
    width: 15%;
}

form.add-to-favorites {
    padding-top: 10px;
    padding-bottom: 0;
}

.book-info {
    display: inline-block;
    vertical-align: text-top;
    /*    padding-top: 2px;*/
    padding-left: 10px;
    width: 85%;
    float: right;
}

.book-info button {
    float: left;
    background-color: #918D61;
    margin-top: 5px;
}

.my-profile {
    padding-top: 120px;
}

.my-profile form {
    margin-bottom: 40px;
}

.my-profile button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.my-profile .series-wrapper {
    display: block;
}

.series-author,
.series-name {
    display: inline-block;
    color: #918D61;
}

.series-author:hover,
.series-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.my-profile .series-name {
    font-family: 'Faustina', serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #7F5E7C;
}

.series {
    display: block;
    width: 100%;
}

.series-title {
    color: #7F5E7C;
}

.my-profile .author,
.my-profile .book-title {
    text-align: center;
}

.my-profile .book-title {
    color: #BBB78A;
}

.my-profile .author {
    font-size: .8rem;
}

.loose-books .book-entry {
    position: relative;
    height: 300px;
}

.series-finder select {
    width: 65%;
    padding-top: 2px;
    padding-bottom: 2px;
    /*
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding-left: 10px;
*/
}

.series-finder button {
    float: right;
    width: 30%;
    border-radius: 5px;
    font-size: .9rem;
    padding-top: 1px;
    padding-bottom: 1px;
}

#other-books {
    margin-top: 30px;
}

.delete-book {
    float: right;
    width: 30px;
    position: absolute;
    border: 1px solid red;
    text-align: center;
    right: 0;
    top: 0;
}

.delete-series {
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    background-color: #2e2e2e;
    color: white;
}

.delete-series i {
    width: 20px;
    height: 20px;

}

select {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: .9rem;
}

option {
    font-size: .9rem;
}

.image-background {
    background-color: #2e2e2e;
    width: 100%;
    /*    height: 163px;*/
}

.image-background img {
    margin: 1px auto;
    width: 128px;
    display: block;
    /*    max-height: 163px;*/
}

.new-releases-full {
    padding-top: 120px;
}

.new-releases-full .book-entry {
    height: 400px;
    overflow-y: scroll;
}

footer {
    text-align: center;
    position: relative;
    clear: both;
    width: 100%;
    background-color: #413D11;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #BBB78A;
}

footer li {
    display: inline;
    font-size: .85rem;
}

footer li a {
    color: #BBB78A;
}

footer li a:hover {
    background-color: #634260;
    color: #2C0B29;
}

label {
    color: #918D61;
    ;
}
